@{
    ViewBag.Title = "About Buddy-Up";
    ViewBag.Message = "Overview";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Project Buddy-Up is based upon the idea of need of a portal which can facilitate group formation (study group/ project group). Unlike traditional classroom, students in MOOC don’t have advantage of being face to face with other students. This means that the small talk between MOOC students is compromised to a great extent and automatic group formation is a challenge in such environment. I intend to provide that added support which can facilitate group formation in online learning environment. Luckily, there has been a lot of research in the field of group formation and dynamics. My idea is to build upon the research already done in the field and create a platform which can facilitate group formation. The three types of group formation I am considering are:</p>
<li>Study Group: A study group is a small group of people who regularly meet to discuss shared fields of study[8]. For an MOOC course, this would a group of students who meet to discuss their understanding of the course.</li>
<li>Project Group (Closed): A group of students are assigned with a project (usually by mentors / instructors). In such cases usually the project is same for all the other project groups in the class."</li>
<li>Project Group (Open Ended): Students form their group based on their interest and then come up with a problem statement which they try to solve as a part of their project.</li>
